* {
  box-sizing: border-box;
}

header {
  padding: 0px 0px 10px 0px;
}

img {
float: right;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background-image: url('https://4.bp.blogspot.com/_yh0AjMW_QQU/StdqD6T7YjI/AAAAAAAAANM/IIp2ivrYXxA/w1200-h630-p-k-no-nu/PP036_BG_Sc02_boardwalk_est.jpg');
  background-size: cover;
}

.game {
}

#gameoverblock {
  background-color: black;
  font-family: 'Port Lligat Sans';
  font-weight: bold;
  opacity: 0.85;
  border-radius: 40px;
  font-size: 120px;
  color:yellow;
  animation: move 3s infinite;
  display: none;
}

#endScore {
  background-color: lightpink;
  font-weight: bold;
  font-family: 'Port Lligat Sans';
  opacity: 0.9;
  border-radius: 20px;
  font-size: 70px;
  color:rgb(240, 86, 111);
  display: none;
}

@keyframes move {
  /* 0% {
    transform: translate(0);
  } */
  50% {
    transform: translate(0, 200px);
  }
  100% {
    transform: translate(0) rotate(360deg);
  }
}

h4 {
  font-family: 'Port Lligat Sans';
  font-weight: bold;
  text-align: center;
  font-size: 28px;
  margin: 5px;
  border: 5px;
  padding: 5px;
  color: black;
  background-color: rgb(240, 86, 111);
}

p {
  font-family: 'Port Lligat Sans';
  padding: 5px;
  font-size: 20px;
  margin: 0 0 20px 0;
  color: black;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  margin: 20px;
  border: 20px;
  border-radius: 20px;
  width: 280px;
  height: 440px;
  background-image: url('https://i.pinimg.com/originals/9e/0e/90/9e0e903af2fefc1e8c294af74802312f.jpg');
  background-size: cover;
  opacity: 0.9;
}

.scoreBoard button {
  /* background-color: lightpink;
  color: rgb(240, 86, 111); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 1.6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  text-align: center;
  font-family: 'Port Lligat Sans';
  border: 6px solid rgb(240, 86, 111);
  background-color: lightpink;
  color: black;
  padding: 20px;
  opacity: 1.0;
}

.buttons {
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: flex-start;
  padding: 5px;
  margin: 10px;
  border: 20px;
  border-radius: 5px 5px 5px 5px;
  width: 230px;
  height: 400px;
}


.scoreBoard {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 20px;
  padding: 5px;
  margin: 20px;
  background-image: url('https://i.pinimg.com/originals/9e/0e/90/9e0e903af2fefc1e8c294af74802312f.jpg');
  background-size: cover;
  width: 280px;
  height: 440px;
  opacity: 0.9;
}


.scoreBoard p {
  /* padding: 15px 15px;
  border-radius: 10px; */
}

.result {
  /* float: right; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 230px;
  height: 400px;
  padding: 5px;
  margin: 10px;
}

#playerScore {
  background-color: lightpink;
  border: 6px solid rgb(240, 86, 111);
  font-family: 'Port Lligat Sans';
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Port Lligat Sans';
  text-align: center;
  padding: 15px;
  border-radius: 10px;
}

#playerLives {
  background-color: lightpink;
  border: 6px solid rgb(240, 86, 111);
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Port Lligat Sans';
  text-align: center;
  padding: 15px;
  border-radius: 10px;
}

.grid {
  display: flex;
  flex-direction: row;
  border: 3px solid black;
  border-radius: 10px;
  width: 40vw;
  height: 60vh;
  flex-wrap: wrap;
  background-color: rgb(102, 150, 102);
  box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.2);
  /* opacity: 0.9; */
}

.cell {
  width: 7.14%;
  height: 7.14%;
  /* border: 1px solid black; */
}

.panther1 {
  background-image: url('https://www.stickpng.com/assets/images/58b8353a15d8273a5cab2f71.png');
  background-size: cover;
}

.car {
  background-image: url('https://img.icons8.com/plasticine/2x/car.png');
  background-size: cover;
}

.shark {
  background-image: url('https://images.vexels.com/media/users/3/160166/isolated/preview/51e2686a7699151f68f7a9424a2efe06-cute-shark-fin-tooth-flat-by-vexels.png');
  background-size: cover;
}

.snake {
  background-image: url('https://icons.iconarchive.com/icons/google/noto-emoji-animals-nature/512/22285-snake-icon.png');
  background-size: cover;
}

.house {
  background-image: url('https://www.stickpng.com/assets/thumbs/588a66aad06f6719692a2d1d.png');
  background-size: cover;
}

div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.road {
  background-color: grey;
}

.roadMarker {
  background-color: black;
}

.water {
  background-color: rgb(41, 186, 235);
}

.pavement {
  background-color: rgb(148, 79, 79);
}

.palmtree {
  background-image: url('https://i.pinimg.com/originals/94/4a/e4/944ae49b7d142ce2d0fdd5c2efd720ca.png');
  background-size: cover;
}

#screen {
  width: 70px;
  height: 50px;
  background-color: rgb(110, 205, 236);
  /* background-image: linear-gradient(300deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.5) 10%, rgba(255,255,255,0.1), rgba(255,255,255,0.1)); */
  border-radius: 12px;
  border: black solid 4px;
  text-align: center;
  font-family: 'PT Mono', monospace;
  color: black;
  line-height: 42px;
  font-size: 40px;
  padding: 5px 8px;
}

#leaderboard {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-image: url('https://m.media-amazon.com/images/M/MV5BYTc0OTBlZWUtOTM2Zi00Yjg5LTg5OTQtMmE5MTc1MGJkM2MzXkEyXkFqcGdeQXVyNTgzMTg5Ng@@._V1_.jpg');
  background-size: cover;
  color: whitesmoke;
  border: black 2px solid;
  border-radius: 30px;
  /* display: none; */
}

h3 {
  font-size: 10px;
  color: white;
  width: 100px;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  background: linear-gradient(#688e25, #325715);
  border-radius: 30px;
}

ol {
  font-size: 15px;
  margin: 100px;
  flex-grow: 1;
  background: whitesmoke;
  color: black;
  border-radius: 30px;
  height: 200px;
  width: 200px;
}

h2 {
  font-size: 20px;
  margin: 20px;
  background: linear-gradient(#688e25, #325715);
  border-radius: 30px;
}