* {
  box-sizing: border-box;
}

header {
  padding: 0px 0px 10px 0px;
}

img {
float: right;

}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background-image: url('https://4.bp.blogspot.com/_yh0AjMW_QQU/StdqD6T7YjI/AAAAAAAAANM/IIp2ivrYXxA/w1200-h630-p-k-no-nu/PP036_BG_Sc02_boardwalk_est.jpg');
  background-size: cover;
}

.game {
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  margin: 20px;
  border: 20px;
  border-radius: 5px 5px 5px 5px;
  width: 230px;
  height: 350px;
  background-image: url('https://i.pinimg.com/originals/9e/0e/90/9e0e903af2fefc1e8c294af74802312f.jpg');
  background-size: cover;
  opacity: 0.8;
}

.buttons button {
  padding: 5px;
  border: 6px solid rgb(240, 86, 111);
  /* box-shadow: 2px 5px 5px #000, 0 0 5px #fff, 0 0 10px rgb(230, 89, 166), 0 0 15px rgb(230, 89, 166), 0 0 20px rgb(230, 89, 166), 0 0 30px rgb(230, 89, 166), inset 2px 5px 5px #000, inset 0 0 10px rgb(230, 89, 166); */
  border-radius: 10px;
  background-color: lightpink;
  font-family: 'Port Lligat Sans';
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  color: rgb(240, 86, 111);
  text-align: center;
}

.scoreBoard {
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
  margin: 20px;
  background-image: url('https://i.pinimg.com/originals/9e/0e/90/9e0e903af2fefc1e8c294af74802312f.jpg');
  background-size: cover;
  width: 230px;
  height: 350px;
  opacity: 0.8;
}

.startButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resetButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scoreBoard p {
  /* padding: 15px 15px;
  border-radius: 10px; */
}

#playerScore {
  background-color: lightpink;
  border: 6px solid rgb(240, 86, 111);
  font-family: 'Port Lligat Sans';
  color: rgb(240, 86, 111);
  font-size: 15px;
  font-weight: bold;
  font-family: 'Port Lligat Sans';
  text-align: center;
  padding: 15px 15px;
  border-radius: 10px;
}

#playerLives {
  background-color: lightpink;
  border: 6px solid rgb(240, 86, 111);
  color: rgb(240, 86, 111);
  font-size: 15px;
  font-weight: bold;
  font-family: 'Port Lligat Sans';
  text-align: center;
  padding: 15px 15px;
  border-radius: 10px;
}

.grid {
  display: flex;
  flex-direction: row;
  border: 3px solid black;
  border-radius: 5px;
  width: 40vw;
  height: 60vh;
  flex-wrap: wrap;
  background-color: rgb(102, 150, 102);
  box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.2);
  /* opacity: 0.9; */
}

.cell {
  width: 7.14%;
  height: 7.14%;
  /* border: 1px solid black; */
}

.panther1 {
  background-image: url('https://www.stickpng.com/assets/images/58b8353a15d8273a5cab2f71.png');
  background-size: cover;
}

.car {
  background-image: url('https://img.icons8.com/plasticine/2x/car.png');
  background-size: cover;
}

.shark {
  background-image: url('https://images.vexels.com/media/users/3/160166/isolated/preview/51e2686a7699151f68f7a9424a2efe06-cute-shark-fin-tooth-flat-by-vexels.png');
  background-size: cover;
}

.snake {
  background-image: url('https://icons.iconarchive.com/icons/google/noto-emoji-animals-nature/512/22285-snake-icon.png');
  background-size: cover;
}

.house {
  background-image: url('https://www.stickpng.com/assets/thumbs/588a66aad06f6719692a2d1d.png');
  background-size: cover;
}

div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.road {
  background-color: grey;
}

.roadMarker {
  background-color: black;
}

.water {
  background-color: rgb(41, 186, 235);
}

.pavement {
  background-color: rgb(148, 79, 79);
}

.palmtree {
  background-image: url('https://i.pinimg.com/originals/94/4a/e4/944ae49b7d142ce2d0fdd5c2efd720ca.png');
  background-size: cover;
}